<div class="container margin_card ">
  <div class="card text-white bg-dark mb-3 card border-info mb-4" style="width: 30em">
    <div class="card-header text-center" style="font-size: 2em;">Contact Us</div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="inputName">Message</label>
          <textarea
            name="message"
            class="form-control"
            id="inputMessage"
            cols="30"
            rows="5"
            maxlength="200"
            wrap="soft"
            placeholder="Message"
            required
            style="
              resize: none;
              "
            ></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>







        <!-- <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
