<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top navbar-inverse"
>
  <a class="navbar-brand" href="/home">
    <img
      src="../assets/img/bootstrap-solid.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Blog App
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <li [class]="propActive">
        <a
          class="nav-link"
          [routerLink]="['/home']"
          routerLinkActive="router-link-active"
          >Home</a
        >
      </li>
      <li [class]="propDeactive">
        <a
          class="nav-link"
          [routerLink]="['/service']"
          routerLinkActive="router-link-active"
          >Service</a
        >
      </li>
      <li [class]="propDeactive">
        <a
          class="nav-link"
          [routerLink]="['/about']"
          routerLinkActive="router-link-active"
          >About</a
        >
      </li>
      <li [class]="propDeactive">
        <a
          class="nav-link"
          [routerLink]="['/contact']"
          routerLinkActive="router-link-active"
          >Contact</a
        >
      </li>
      <li [class]="propDeactive">
        <a class="nav-link" [routerLink]="['/posts']" routerLinkActive="router-link-active">Posts</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Router Navigation Section -->
<div>
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<hr>
<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#">
          <img src="assets/img/facebook-f-brands.svg" alt="facebook" style="width:0.8em; filter: invert(100%);">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="https://www.linkedin.com/in/dr-rahulk95">
          <img src="assets/img/linkedin-in-brands.svg" alt="linkedin" style="width:1.3em; filter: invert(100%);">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white" href="https://github.com/dr-rahul">
          <img src="assets/img/github-brands.svg" alt="github" style="width:1.7em; filter: invert(100%);">
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright &copy; MyBlog 2018</p>
  </div>
</footer>



