<div class="container margin_card ">
  <div class="card text-white bg-info mb-3 card border-info mb-4">
    <div class="card-header text-center" style="font-size: 2em;">Edit Post</div>
    <div class="card-body" >
      <form>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" required class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" value="{{edit['email']}}" #email>
        </div>
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="text" required class="form-control" id="inputName" placeholder="Enter Name" value="{{ edit['name'] }}" #name>
        </div>
        <div class="form-group">
          <label for="postHead">Post Title</label>
          <input type="text" required class="form-control" id="postHead" placeholder="Title" value="{{edit['postHead']}}" #postHead>
        </div>
        <div class="form-group">
          <label for="postMessage">Post Message</label>
          <textarea
            name="message"
            class="form-control"
            id="postMessage"
            cols="50"
            rows="10"
            maxlength="200"
            wrap="soft"
            placeholder="Post Message"
            #postMessage
            required style="resize: none; grid-auto-columns: auto;">
            {{edit['postMessage']}}
          </textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-dark" (click)="saveIt(email.value, name.value,  postHead.value, postMessage.value)">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
